#navegador ul {
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #eeeeee;
   box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
}

#navegador li {
   display: inline;
}

#navegador li a {
   color: #267CB9;
   padding: 10px 20px;
   text-decoration: none;
   font-size: 14px;
}

#navegador li a:hover,
#navegador li a.active {
   background-color: #333333;
   color: #ffffff;
}

#navegador i {
   margin-right: 8px;
}
